* {
    margin: 0;
    padding: 0;
}

.new {
    background-color: rgb(212, 172, 250);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.leftnav {
    justify-content: right;
}

.leftnav ul {
    display: flex;
    list-style: none;
}

.leftnav li {
    padding: 30px;
    font-size: 1.2rem;
}

.leftnav li a {
    text-decoration: none;
}

.leftnav li a:hover {
    background-color: rgb(81, 81, 199);
    transition: 1ms;
}

section {
    display: flex;
}

.sectionright {
    border: 2px solid black;
    height: 800px;
    width: 700px;
    margin: 0px 20px;
    background-color: rgb(194, 194, 252);
}

.head,
.name,
.name2,
.quote,
.para,
.abh {
    font-size: 2.2rem;
    text-shadow: 2px 2px 1px greenyellow;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px rgb(248, 180, 248);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.sectionleft {
    border: 2px solid black;
    height: 800px;
    width: 700px;
    margin: 0px 20px;
}

.para {
    font-size: 1.5rem;
    text-shadow: 2px rgb(73, 6, 73);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.abh {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rightfoot {
    height: 180px;
    width: 100%;
    background-color: rgb(215, 190, 237);
    border: 2px solid rgb(14, 12, 12);
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 1px green;
}

.leftfoot {
    height: 180px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(215, 190, 237);
    font-size: 1.3rem;
    text-shadow: 2px 2px 1px green;
}

.leftfoot li a {
    text-decoration: none;
}

.leftfoot ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    /* Adjust styles for mobile devices */
    .sectionright,
    .sectionleft {
        width: 100%;
        margin: 0;
    }
}
